In [10]:
#1

import pandas as pd
list=["Abc","Def","Ghi","Jkl","Mno"]
series = pd.Series(list,index = [1,2,3,4,5])
print("List : \n",list)
print("Series : \n",series)

List :
 ['Abc', 'Def', 'Ghi', 'Jkl', 'Mno']
Series :
 1    Abc
2    Def
3    Ghi
4    Jkl
5    Mno
dtype: object

In [14]:
#2

date = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print("Date series : \n")
for i in date:
    print(i)

Date series :

2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00

In [17]:
#3

data = {'Name' : ["Abc","Def","Ghi","Jkl","Mno"],
         'Age' : [23, 21, 22, 21,21],
  'University' : ['KU', 'JNU', 'DU', 'KTU','KTU'],}
df = pd.DataFrame(data,index = [1,2,3,4,5])
print(df)

  Name  Age University
1  Abc   23         KU
2  Def   21        JNU
3  Ghi   22         DU
4  Jkl   21        KTU
5  Mno   21        KTU

In [29]:
#4

d = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(d,columns=['I','II','III'],index=['a','b','c'])
print(df)

   I  II  III
a  1   2    3
b  4   5    6
c  7   8    9

In [28]:
#5
    
print("csv :")
df=pd.read_csv("DS_EXERCISE-3-CSV.csv")
print(df)
print("\ndataframe :")
df=pd.read_csv("DS_EXERCISE-3-CSV.csv",usecols=['country'])
print(df)

csv :
         country  gold_medal
0  United States          46
1  Great Britain          27
2          China          26
3         Russia          19
4        Germany          17

dataframe :
         country
0  United States
1  Great Britain
2          China
3         Russia
4        Germany

In [49]:
#6

import numpy as np
df = pd.DataFrame({'Name': ["Abc","Def","Ghi","Jkl","Mno"],'Age': [20, 22, 21, 19, 21],'Rank': [1,10,8, 9,3]},
                  index = ['i','ii','iii','iv','v'])
print("Original :\n",df)
print("\nSorted :")
print(df.sort_values(by=['Rank','Age'], ascending=[True,False] ))

Original :
     Name  Age  Rank
i    Abc   20     1
ii   Def   22    10
iii  Ghi   21     8
iv   Jkl   19     9
v    Mno   21     3

Sorted :
    Name  Age  Rank
i    Abc   20     1
v    Mno   21     3
iii  Ghi   21     8
iv   Jkl   19     9
ii   Def   22    10

In [50]:
#7

print(df)
dataframe = df.reset_index()
print(dataframe)

    Name  Age  Rank
i    Abc   20     1
ii   Def   22    10
iii  Ghi   21     8
iv   Jkl   19     9
v    Mno   21     3
  index Name  Age  Rank
0     i  Abc   20     1
1    ii  Def   22    10
2   iii  Ghi   21     8
3    iv  Jkl   19     9
4     v  Mno   21     3

In [53]:
#8

print("Printing first 2 rows : \n")
df1 = df.head(2) #df.iloc[[0, 1]]
print(df1,"\n")

Printing first 2 rows :

   Name  Age  Rank
i   Abc   20     1
ii  Def   22    10

In [58]:
#9

employee=pd.DataFrame({'Name': ["Abc","Def","Ghi","Jkl","Mno"],
                       'Occupation': ["Engineer","Doctor","Sports","Engineer","Doctor"],
                       'Salary': [1000,10000,8000,9000,3000]})
print("Employees : \n",employee)
dept_agg = employee.groupby('Occupation').Salary.agg(['count','mean']).reset_index()
print("The  average salary per occupation : \n",dept_agg.rename(columns={'count':'Count','mean':'Avg Salary'}))

Employees :
   Name Occupation  Salary
0  Abc   Engineer    1000
1  Def     Doctor   10000
2  Ghi     Sports    8000
3  Jkl   Engineer    9000
4  Mno     Doctor    3000
The  average salary per occupation :
   Occupation  Count  Avg Salary
0     Doctor      2      6500.0
1   Engineer      2      5000.0
2     Sports      1      8000.0

In [66]:
#10
 
nums = {'Set_of_Numbers': [2, np.nan, 5, 7, 11, 13,np.nan, 19, 23, np.nan]}
df = pd.DataFrame(nums, columns =['Set_of_Numbers'])
print("With NaN Values :\n",df) 
df['Set_of_Numbers'] = df['Set_of_Numbers'].fillna(0)
print("values with 0 :\n",df)

With NaN Values :
    Set_of_Numbers
0             2.0
1             NaN
2             5.0
3             7.0
4            11.0
5            13.0
6             NaN
7            19.0
8            23.0
9             NaN
values with 0 :
    Set_of_Numbers
0             2.0
1             0.0
2             5.0
3             7.0
4            11.0
5            13.0
6             0.0
7            19.0
8            23.0
9             0.0

In [70]:
#11

company_data=pd.DataFrame({'Name': ["Abc","Def","Ghi","Jkl","Mno","Pqr"],
                       'profit': [1000,10000,-2000,8000,9000,-3000]})
print("original dataframe :\n",company_data) 
company_data['profit'] = company_data['profit'].apply(lambda x:x>0)
print("required dataframe :\n",company_data)

original dataframe :
   Name  profit
0  Abc    1000
1  Def   10000
2  Ghi   -2000
3  Jkl    8000
4  Mno    9000
5  Pqr   -3000
required dataframe :
   Name  profit
0  Abc    True
1  Def    True
2  Ghi   False
3  Jkl    True
4  Mno    True
5  Pqr   False

In [75]:
#12

emp_data=pd.DataFrame({'eid': [1,2,3,4,5],
                       'ename': ["Abc","Def","Ghi","Jkl","Mno"],
                       'Stipend': [1000,10000,8000,9000,3000]})
company_data=pd.DataFrame({'eid': [1,2,3,4,5],
                       'position': ["employee","employee","intern","employee","intern"]})
print("1st DataFrame :\n",emp_data) 
print("\n2nd DataFrame :\n",company_data) 
dataframe = pd.merge(emp_data, company_data, how = 'inner', on = 'eid') 
print("\nRequired dataframe :\n",dataframe)

1st DataFrame :
    eid ename  Stipend
0    1   Abc     1000
1    2   Def    10000
2    3   Ghi     8000
3    4   Jkl     9000
4    5   Mno     3000

2nd DataFrame :
    eid  position
0    1  employee
1    2  employee
2    3    intern
3    4  employee
4    5    intern

Required dataframe :
    eid ename  Stipend  position
0    1   Abc     1000  employee
1    2   Def    10000  employee
2    3   Ghi     8000    intern
3    4   Jkl     9000  employee
4    5   Mno     3000    intern